# gradle ignore
target/
output/
build/
.gradle/
# *.jar
*.war
*.tar
*.tar.gz
tree.txt

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

output
.svn
*.iml
.gradle
/local.properties
/.idea
.DS_Store
app/build
/build
/captures
.externalNativeBuild
app/release
app/.idea

.vscode